.first {
  height: 760px;
  width: 1700px;
  background-image: url(./image/arm-homepage-hero-ai-1920x706.jpg);
  list-style-type: none;
  margin: 0px 0px 0px 70px;
}
div.M {
  position: relative;
  top: 30px;
  left:120px;
  margin: 0px 0px 100px 0px;

}
h1.a {
  font-family: sans-serif;
  font-size: 34px;
  letter-spacing: 70;
  color: white;
}
h2.a {
  font-family: sans-serif;
  font-size: 64px;
  color: white;
  letter-spacing: 70;
  margin: 0px 0px 20px 0px;
  display: inline-block;
  border-bottom: 5px yellow solid;
}
.first ul {
  list-style-type: none;
  left: 30px;
}
div.one {
  font-family: sans-serif;
  font-size: 22px;
  letter-spacing: 70;
  color: white;
  margin: 20px 0px 20px 0px;
}
div.two {
  font-family: sans-serif;
  letter-spacing: 70;
  padding: 0px 20px 0px 20px;
  border-radius: 15px;
  background-color: yellow;
  display: inline;
}
.among {
  width: 80px;
  background-color: white;
  height: 800px;
  float: left;
  position: fixed;
  top: -10px;
  left: -5px;
}

.b {
  color: black;
  font-size: 5px;
  margin: 0px 0px 0px -25px;
}
.b a:hover {
  color: blue;

}
.J {
  margin: 50px 0px 0px -15px;
}
.among ul {
  list-style-type: none;

}
.donghua {
  font-size: 30px;
  margin: 0px 0px 0px -25px;
}
.between {
  margin: 0px 0px 0px 70px;
}
h1.b {
  font-size: 40px;
  margin: 30px 0px 30px 300px
}
div.four {
  margin: 10px 0px 0px 150px;
}
div.five {
  margin: 10px 0px 0px 190px;
}
div.six {
  margin: 10px 0px 0px 600px;
}
img.H {
  margin: 10px 0px 0px 300px;
}
img.A {
  margin: 10px 0px 0px 600px;
}