.first {
  height: 760px;
  width: 1700px;
  background-image: url(./image/arm-homepage-hero-ai-1920x706.jpg);
  list-style-type: none;
  margin: 0px 0px 0px 70px;
}
div.M {
  position: relative;
  top: 30px;
  left:120px;
  margin: 0px 0px 100px 0px;

}
h1.a {
  font-family: sans-serif;
  font-size: 34px;
  letter-spacing: 70;
  color: white;
}
h2.a {
  font-family: sans-serif;
  font-size: 64px;
  color: white;
  letter-spacing: 70;
  margin: 0px 0px 20px 0px;
  display: inline-block;
  border-bottom: 5px yellow solid;
}
.first ul {
  list-style-type: none;
  left: 30px;
}
div.one {
  font-family: sans-serif;
  font-size: 22px;
  letter-spacing: 70;
  color: white;
  margin: 20px 0px 20px 0px;
}
div.two {
  font-family: sans-serif;
  letter-spacing: 70;
  padding: 0px 20px 0px 20px;
  border-radius: 15px;
  background-color: yellow;
  display: inline;
}
.among {
  width: 80px;
  background-color: white;
  height: 800px;
  float: left;
  position: fixed;
  top: -10px;
  left: -5px;
}

.b {
  color: black;
  font-size: 5px;
  margin: 0px 0px 0px -25px;
}
.b a:hover {
  color: blue;

}
.J {
  margin: 50px 0px 0px -15px;
}
.among ul {
  list-style-type: none;

}
.donghua {
  font-size: 30px;
  margin: 0px 0px 0px -25px;
}
.between {
  margin: 0px 0px 0px 70px;
  font-family: sans-serif;
  color: inherit;
}
h1.b {
  font-size: 40px;
  margin: 30px 0px 30px 300px
}
div.four {
  margin: 10px 0px 0px 150px;
}
div.five {
  margin: 10px 0px 0px 190px;
}
div.six {
  margin: 10px 0px 0px 600px;
}
img.H {
  margin: 10px 0px 0px 300px;
}
img.A {
  margin: 10px 0px 0px 600px;
}
div.A div.B {
  font-size: 19px;
}
div.A {
  margin-left: 335px;
  margin-top: 20px;
  display: inline-block;
}
div.B {
  margin: 20px 0px 0px 635px;
  display: inline-block;
}
div.C {
  font-family: sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 40px 0px 0px 200px;
  display: inline;
  font-weight: 300;
  line-height: 1.2;
}
div.c {
  font-family: sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 40px 0px 0px 410px;
  display: inline;
  font-weight: 300;
  line-height: 1.2;
}
div.E {
  font-family: sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 40px 0px 0px 220px;
  display: inline;
  font-weight: 300;
  line-height: 1.2;
}
div.F {
  font-family: sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 40px 0px 0px 520px;
  display: inline;
  font-weight: 300;
  line-height: 1.2;
}
div.a {
  margin: 10px 0px 0px 180px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.65;
  font-family: sans-serif;
  display: inline-block;
}
div.z {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.65;
  font-family: sans-serif;
  display: inline-block;
  margin: 10px 0px 0px 320px;
}
div.d {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.65;
  font-family: sans-serif;
  display: inline-block;
  margin: 0px 0px 0px 190px;
}
div.e {
  font-size: 16px;
  line-height: 1.65;
  font-family: sans-serif;
  display: inline-block;
  margin: 0px 0px 0px 330px;

}
.f{
  font-size: 16px;
  line-height: 1.65;
  font-family: sans-serif;
  display: inline-block;
  margin: 0px 0px 0px 185px;
}
.g {
  font-size: 16px;
  line-height: 1.65;
  font-family: sans-serif;
  display: inline-block;
  margin: 0px 0px 0px 300px;
}
.h {
  font-size: 16px;
  line-height: 1.65;
  font-family: sans-serif;
  display: inline-block;
  margin-left: 330px;
}
.i {
  font-size: 16px;
  line-height: 1.65;
  font-family: sans-serif;
  display: inline-block;
  margin-left: 670px;
}
.ab {
  font-size: 20px;
  font-weight: 400;
  display: inline-flex;
  margin: 30px 0px 0px 280px;

}
.ab a{
  text-decoration: none;
  color: #002b49;
}
.ab a:hover{
  color: orange;
}
.ad {
  font-size: 20px;
  font-weight: 400;
  display: inline-flex;
  margin: 30px 0px 0px 580px;

}
.ad a:hover{
  color: orange;
}
.ad a{
  text-decoration: none;
  color: #002b49;
}
.zero {
  width: 100%;
  background-color: #333e48;
  height: 200px;
  margin: 100px 0px 0px 70px; 
}

.zero ul li {
  display: inline;
  color: #ffffff;

}

.black {
  font-size: 20px;
  position: relative;
  top: 80px;
  left: 100px;
  flex: 1;
  display: inline-block;
  width: 150px;
  right: 50px;
  font-weight: 900;
}

.zzz {
  flex: 1;
  font-size: 15px;
  display: inline-block;
  color: #ffffff;
  font-weight: 700;
  line-height: 1;
  font-style: normal; 
  position: relative;
  left: 250px;
  top: 65px;
  right: 20px;
  border-right: 2px solid #586269;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.zzz a{
  text-decoration: none;
  border-bottom: none;
  color: #ffffff;
}
.aaa {
  flex: 1;
  font-size: 15px;
  display: inline-block;
  color: #ffffff;
  font-weight: 700;
  line-height: 1;
  font-style: normal; 
  position: relative;
  border-right: 2px solid #586269;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  top: 65px;
  left: 300px;
}
.aaa a{
  text-decoration: none;
  border-bottom: none;
  color: #ffffff;
}
.bbb {
  flex: 1;
  font-size: 15px;
  display: inline-block;
  color: #ffffff;
  font-weight: 700;
  line-height: 1;
  font-style: normal; 
  position: relative;
  border-right: 2px solid #586269;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  top: 65px;
  left: 350px;
}
.bbb a {
  text-decoration: none;
  border-bottom: none;
  color: #ffffff;
}
.ccc {
  flex: 1;
  font-size: 15px;
  display: inline-block;
  color: #ffffff;
  font-weight: 700;
  line-height: 1;
  font-style: normal; 
  position: relative;
  border-right: 2px solid #586269;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  top: 65px;
  left: 400px;
}
.ccc a {
  text-decoration: none;
  border-bottom: none;
  color: #ffffff;
}
.ddd {
  flex: 1;
  font-size: 15px;
  display: inline-block;
  color: #ffffff;
  font-weight: 700;
  line-height: 1;
  font-style: normal; 
  position: relative;
  border-right: 2px solid #586269;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  top: 65px;
  left: 450px;
}
.ddd a {
  text-decoration: none;
  border-bottom: none;
  color: #ffffff;
}
.bule {
  margin-left: 70px;
}
.white {
  line-height: 3;
  font-size: 45px;
  font-weight: 700;
  margin: 100px 0px 100px 350px; 
  display: inline-block;
}
.red {
  
  margin-left: 70px;

  width: 600px;

  height: 1500px;

  background-color: #333e48;

margin-top: -200px;

}
#vi {


 margin-left: 150px;

  width: 1200px;

  height: 800px;

}
.xx {
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
  line-height: 1;
  font-family: sans-serif;
  display: inline;
  position: relative;
  top: 300px;
  left: 70px;

}
.hh {
  color: #ffffff;
  font-size: 45px;
  font-weight:500;
  line-height: 1;
  display: inline;
  font-family: sans-serif;
 position: relative;
  top: 320px;
  left: 70px;
}
.wawo {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  font-family: sans-serif;
  display: inline;
  position: relative;
  top: 380px;
  left: 70px;
}
.kk {
  color: #00ced1;
  font-size: 25px;
  font-weight: 200;
  line-height: 1;
  font-family: sans-serif;
  display: inline;
  position: relative;
  top: -650px;
  left: 70px;
}
.nn{
  height: 1500px;
  margin: -200px 0px 0px 610px;
  float: right;
}